*{
    padding: 0;
    margin: 0;
}

.btn-search{
    border: 1px solid orangered;
}
.navbar-brand img{
    border-radius: 10px;
    border: 1px solid blue;
}

.img-box{
    width: 45vw;
    height: 100vh
}

.img-box img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 10px;
}


    #login .container #login-row #login-column #login-box {
        margin-top: 15px;
        min-width: 800px;
        min-height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
        margin-bottom: 10px;
      }
      #login .container #login-row #login-column #login-box #login-form {
        padding: 20px;
      }
      #login .container #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
      }
      #tabs .section-title {
        text-align: center;
        color: blue;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    #tabs{
      background: blue;
        color: #eee;
        padding: 60px 0;
    }
    #tabs h6.section-title{
        color: #eee;
    }
    
    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: blue !important;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 4px solid !important;
        font-size: 20px;
        font-weight: bold;
    }
    #tabs .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #eee;
        font-size: 20px;
    }